body {
    background-color: black;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    border-style: solid;
    border-width: 7px;
    border-color: dodgerblue;
    border-radius: 7px;
}

@font-face {
    font-family: "DepartureMono";
    src: url("assets/DepartureMono-Regular.otf") format("opentype");
}